<div class="layout">
  <div class="main">
    <div class="left-panel">
      <!-- Left Panel Content -->
      <div class="header">Diagram header</div>
      <div>
        Current state
        {{ diagram.state }}

        <hr />

        Current mode
        {{ diagram.selectedMode }}

        <hr />

        Currently selected element
        {{ diagram.currentlySelectedElement | json }}

        <hr />
        <hr />
        <hr />

        @if (diagram.currentlySelectedElement) {
          Element Settings

          <br />

          BorderRadius: <input
            (input)="updateSelectedElementBorderRadius($event)" type="number"
            [value]="diagram.currentlySelectedElement.radius" />
        }
      </div>
    </div>
    <main class="diagram-editor">
      <!-- Floating Menu -->
      <div class="floating-menu element-menu">
        <button
          (click)="onSelectMode(MODE.MOVE)"
          [ngClass]="{'active': diagram.getSelectedMode() === MODE.MOVE}"
          class="draggable-item">
          Move
        </button>
        <button
          (click)="onSelectMode(MODE.SELECT)"
          [ngClass]="{'active': diagram.getSelectedMode() === MODE.SELECT}"
          class="draggable-item">
          Select
        </button>
        <button
          (click)="onSelectMode(MODE.SQUARE)"
          [ngClass]="{'active': diagram.getSelectedMode() === MODE.SQUARE}"
          class="draggable-item">
          Square
        </button>
      </div>
      <div class="floating-menu zoom-menu">
        <button
          (click)="onZoomIn()"
          class="draggable-item">
          +
        </button>
        <button
          (click)="onZoomOut()"
          class="draggable-item">
          -
        </button>
      </div>

      <canvas #diagramCanvas
              (mousedown)="onCanvasMouseDown($event)"
              (mouseleave)="onMouseLeave()"
              (mousemove)="onCanvasMouseMove($event)"
              (mouseup)="onCanvasMouseUp()"
              id="diagramCanvas"></canvas>
    </main>
  </div>
</div>
